<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Newton Fractal</title>

    <!-- SEO -->
    <meta name="author" content="Rémy Hidra"/>
    <meta name="description" content="A small Newton fractal generator, built with WebGL and vanilla JS. Check-out my other Web projects !"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://remyhidra.dev/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://remyhidra.dev/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://remyhidra.dev/favicon-16x16.png"/>
    <link rel="manifest" href="https://remyhidra.dev/site.webmanifest"/>

    <!-- Social Sharing -->
    <meta property="og:title" content="Newton Fractal Real-Time Generator"/>
    <meta property="og:site_name" content="Newton Fractal Real-Time Generator"/>
    <meta property="og:description" content="A Newton fractal generator in real-time, built with WebGL and vanilla JS."/>
    <meta property="og:image" content="https://remyhidra.dev/banner.png"/>
    <meta property="og:url" content="https://fractal.remyhidra.dev"/>
    <meta property="og:type" content="website"/> 
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="rehidra"/>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJ3ELZ7180"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RJ3ELZ7180');
    </script>
</head>
<body>
  <canvas id="c"></canvas>
  
  <nav>
    <section class="function">
      <p>Function</p>
      <button type="button" id="add-root">
        Add root
      </button>
      <button type="button" id="remove-root">
        Remove root
      </button>
    </section>

    <section>
      <p class="iterations">
        Iterations
        <span id="iterations-number">20</span>
        <button type="button" id="add-iter">
          ＋
        </button>
        <button type="button" id="remove-iter">
          −
        </button>
      </p>
    </section>

    <section class="radio">
      <p>Post processing effect</p>
      <div>
        <input type="radio" value="root" id="root" name="renderType" checked>
        <label for="root">Root</label>
      </div>
      <div>
        <input type="radio" value="distance" id="distance" name="renderType">
        <label for="distance">Distance</label>
      </div>
      <div>
        <input type="radio" value="steps1" id="steps1" name="renderType">
        <label for="steps1">Steps 1</label>
      </div>
      <div>
        <input type="radio" value="steps2" id="steps2" name="renderType">
        <label for="steps2">Steps 2</label>
      </div>
      <div>
        <input type="radio" value="steps3" id="steps3" name="renderType">
        <label for="steps3">Steps 3</label>
      </div>
    </section>

    <section class="checkbox">
      <p>Other</p>
      <div>
        <input type="checkbox" value="grid" id="grid" name="grid" checked>
        <label for="grid">Show grid</label>
      </div>
      <div>
        <input type="checkbox" value="function" id="function" name="function">
        <label for="function">Show function</label>
      </div>
    </section>

    <section class="radio">
      <p>Quality</p>
      <div>
        <input type="radio" value="high" id="high" name="quality">
        <label for="high">High</label>
      </div>
      <div>
        <input type="radio" value="medium" id="medium" name="quality" checked>
        <label for="medium">Medium</label>
      </div>
      <div>
        <input type="radio" value="low" id="low" name="quality">
        <label for="low">Low</label>
      </div>
    </section>

    <section class="links">
      <a href="https://github.com/rhidra/newton-fractal" target="_blank">
        <img src="https://img.icons8.com/material-outlined/24/ffffff/github.png"/>&nbsp;
        Github
      </a>
      <a href="https://rhidra.github.io/" target="_blank">
        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/fire-element--v1.png" width="24px" alt="Flame icon"/>&nbsp;
        More projects
      </a>
    </section>

    <button id="close">✕</button>

  </nav>
  <button id="open">☰</button>
</body>
</html>
