@use './mixins.scss' as *;

$bg: hsl(211, 26%, 20%);
$grey: hsl(210, 9%, 43%);
$red: hsl(351, 88%, 57%);
$white: hsl(330, 100%, 100%);

nav {
  z-index: 10;
  position: absolute;
  border-left: 5px solid $red;
  background: linear-gradient($bg, #222d3b);
  padding: 1rem 4rem 1rem 2rem;
  padding-right: 2rem;
  box-shadow: 1px 1px 10px black;
  max-height: 90%;
  overflow-y: auto;
  transition: transform ease-out 200ms;
  top: 0;
  left: 0;
  min-width: 220px;
  transform: translateX(-110%);
  
  &.visible {
    transform: translateX(0);
  }

  button {
    color: $white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: rgba(#2d3b49, .6);
    }
    &:active {
      background-color: rgba(#2d3b49, 1);
    }
  }

  section {
    margin-top: 1rem;

    p {
      color: $grey;
      font-size: 1rem;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  section.radio, section.function, section.checkbox {
    input { display: none; }

    label, button { 
      cursor: pointer;
      position: relative;
      display: block; 
      border-radius: 15px;
      padding: 1rem;
      padding-left: 2rem;
      font-size: 1rem;
      color: $white;
      transition: color linear 150ms, background linear 150ms;
      &:hover {
        background-color: rgba(#2d3b49, .6);
      }
      &:active {
        background-color: rgba(#2d3b49, 1);
      }
      &:before {
        content: "◆";
        position: absolute;
        left: .6rem;
        transform: translateY(-2px) scale(0);
        transition: all linear 100ms;
      }
    }

    &.checkbox label::before {
      content: "✔";
    }

    input:checked + label {
      color: $red;
      &:before {
        transform: translateY(-2px) scale(1);
      }
    }
  }

  p.iterations {
    #iterations-number {
      color: $white;
      margin-left: .5rem;
    }

    button {
      padding: .8rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  section.links {
    a {
      color: hsl(210, 13%, 66%);
      cursor: pointer;
      transition: background linear 150ms;
      display: flex;
      align-items: center;
      border-radius: 15px;
      padding: .6rem .25rem;
      text-decoration: none;

      img {
        opacity: .5;
      }

      &:hover {
        background: rgba(#2d3b49, .6);
      }
    }
  }

  button#close {
    z-index: 9;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: none;
    color: $grey;
    border: none;
    outline: inherit;
    padding: 0.2rem;
    font-size: 1.8rem;
    margin: .5rem;
    opacity: .7;
    transition: all linear 150ms;

    &:hover {
      opacity: 1;
    }
  }
}

button#open {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  color: $white;
  background: $bg;
  border: 1px solid rgba(white, .4);
  outline: inherit;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 7px rgba(white, .9);
  margin: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all linear 150ms;
  opacity: .4;

  &:hover, &:active {
    border-color: rgba($red, .9);
    box-shadow: 0 0 10px rgba($red, 1);
    opacity: 1;
  }

  @include mobile {
    font-size: 1rem;
    width: 40px;
    height: 40px;
  }
}